body {
  background-color: rgb(241, 231, 212);
  font-family: "Gill Sans", sans-serif;
  color: black;
 }
 
.input {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.input_box {
  width: 80%;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
}
.submit_button {
  width: 50%;
  font-size: 1.4rem;
  border-radius: 2rem;
  padding: 0.8rem;
  background-color: rgb(110, 42, 165);
  border: none;
  color: white;
}
span {
  color: red;
}
#result,
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: -15%;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
.footer-para {
  color: black;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}